body {
    background: #f9f9f9 url(bg.png);
}

html, body {
    position: relative;
    height: 100%;
}
  
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.container-fix {
    width: 970px !important;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}
  .swiper-container {
    margin-top: 3rem;  
    width: 100%;
  }
  .swiper-slide {
    border: 1px solid lightgray;  
    text-align: center;
    font-size: 18px;
    background: #eee;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
      background-color: #337ab7;
      color:white;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 16px 80px;
  }


.main-header{
    margin: 0;
    padding: 5px 82px;
    margin: 0 -15px;
}
.main-logo{
    margin: 0;
    height: 80px;
    background: url(./static/logo.png) no-repeat;
}
.main-slogan{
    margin: 0;
    padding-top: 1rem;
    padding-left: 6rem;
}
.main-slogan2{
    margin: 0;
    padding-top: 1rem;
    padding-left: 6.2rem;
}


.contact-us{
    margin-top: 2rem;
    padding-left: 15px;
    margin-left: 6rem;
}

.index-spliter{
    width:100%;height:1px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;
}
.about-row{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 16px;
}
.menu-h{
    margin-top: 3rem;
}
.menu-h-sub{
    margin-top: 1.5rem;
}
.masthead{
    padding-top: 10px;
}
.product-different {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.banner3{
    margin-top: 2rem;
}
.goto-shop{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.product-item{
    background-color: #ddd;
    padding: 12px 50px;
    border-radius: 5px;
    border: 1px solid lightgray; 
}
.product-item-info{
    margin: 10px -35px 0 -35px;
}
.footer-bottom{
    margin-bottom: 5rem;
}


